Flask
Flask-Login
Flask-SocketIO
SQLAlchemy
Werkzeug
Jinja2
itsdangerous
click
python-dotenv
eventlet
requests
gunicorn
email-validator
flask
flask-login
flask-sqlalchemy
flask-wtf
gunicorn
psycopg2-binary
sqlalchemy
stripe
werkzeug
wtforms
